.postBlock {
  padding: 10px;
}

.posts {
  margin-top: 10px;
}
.form {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.textarea {
  margin-top: 5px;
  border: 1px solid #888;
  font-size: 18px;
  width: 99%;
  height: 70px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.bottonPost {
  background-color: #808080;
  color: white;
  font-size: 25px;
  border: 2px solid #00ffff;
  border-radius: 7px;
}

.bottonPost:hover {
  color: gold;
}
