.header {
  grid-area: h;
  background-color: #808080;
  border: 1px solid #00ffff;
}
.header img {
  padding: 3px;
  width: 97px;
}

.loginBlock {
  float: right;
  color: #ffffe0;
  font-size: 30px;
}

.loginButton {
  background-color: #808080;
  color: white;
  font-size: 30px;
  margin: 8px;
  border: 2px solid #00ffff;
  border-radius: 7px;
}

.loginButton:hover {
  color: gold;
}
