.nav {
  grid-area: n;
  background-color: brown;
  padding: 20px;
}
.item {
  font-size: 30px;
  padding: 8px;
}
a {
  color: white;
}
a:hover {
  color: blueviolet;
}
.item a.active {
  color: gold;
}
